h1{
    padding: 10px;
    
}

nav {
    background-color: #BF2A3B;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    border: #CCC7B8 solid 4px;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  
  #page-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  #page-links li {
    padding: 10px;
    margin: 0 10px;
  }
  
  #page-links li a {
    color: #CCC7B8;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }